<div class="soul-input-wrapper">
  <div *ngIf="label || secondLabel" class="labels">
    <div class="grey-3-text">{{ label }}</div>
    <a [routerLink]="link" class="link" *ngIf="secondLabel">{{
      secondLabel
    }}</a>
  </div>

  <div class="input-with-icon">
    <span
      *ngIf="_isPassword"
      (click)="changeIcon()"
      class="material-icons-outlined icon"
    >
      {{ passwordIcon }}
    </span>

    <span *ngIf="icon" class="material-icons-outlined icon"> {{ icon }} </span>

    <input
      class="soul-input"
      [type]="inputType"
      [placeholder]="_isPassword ? '********' : placeholder"
      (change)="onTextChange($event.target)"
      (keyup.enter)="onEnter($event.target)"
      autocomplete="off"
    />
  </div>

  <div *ngIf="hint" class="hint hint-text">
    {{ hint }}
  </div>
</div>
