@import "/src/common-styles/variables";
@import "/src/common-styles/text";
@import "/src/common-styles/soul-layout";

.post-container {
  padding: 20px;
  margin-top: 16px;

  .user-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .photo {
      width: 32px;
      height: 32px;
      border-radius: 50px;
    }

    .date-publication {
      font-size: 10px;
    }

    .time-name {
      margin: 0 8px;
    }
  }

  .post-data {
    margin: 12px 0;

    .media {
      width: 708px;
      height: 539px;
      border-radius: 12px;
      object-fit: cover;
    }
  }

  .user-reactions {
    display: flex;
    align-items: center;
    color: $neutral-grey-3;

    .likes {
      margin-right: 34px;
    }

    .likes,
    .comments {
      display: flex;
      align-items: center;

      .quantity {
        margin-left: 10px;
      }
    }
  }

  .last-item {
    margin-left: auto;
  }
}
