<div class="post-container soul-block-layout">
  <div *ngIf="userCompactInfo" class="user-info">
    <img class="photo" [src]="userCompactInfo.imgUrl" />

    <div class="time-name">
      <div class="hint-text">{{ userCompactInfo.fullname }}</div>
      <div class="date-publication grey-3-text">
        {{ post.creationDate | toDateView }}
      </div>
    </div>

    <div class="hint-text grey-3-text">{{ userCompactInfo.nickname }}</div>

    <div class="grey-3-text last-item">
      <span class="material-icons" [matMenuTriggerFor]="menu" #menuTrigger> more_vert </span>

      <mat-menu class="menu" #menu="matMenu">
        <li mat-menu-item (click)="deletePost(post.id)">Delete</li>
        <li mat-menu-item (click)="makeDraft()">Make a draft</li>
        <li mat-menu-item>Drafts</li>
      </mat-menu>
    </div>
  </div>

  <div class="post-data">
    <div class="description">
      {{ post.text }}
    </div>

    <div class="tags">{{ post.hashtags }}</div>

    <!--TODO get all files not only first-->
    <img *ngIf="post.medias" class="media" [src]="post.medias[0]" />
  </div>

  <div class="user-reactions">
    <div class="likes hint-text">
      <div class="material-icons">favorite_border</div>
      <div class="quantity">{{ post?.metadata?.likes }}</div>
    </div>

    <div class="comments hint-text">
      <div class="material-icons">chat_bubble_outline</div>
      <div class="quantity">{{ post?.metadata?.comments }}</div>
    </div>

    <div class="send-post last-item">
      <span class="material-icons"> send </span>
    </div>
  </div>
</div>
