<div class="ui-kit-container">
  <soul-button text="Primary" class="primary-sample-button"></soul-button>

  <soul-button
    text="Primary disabled"
    class="primary-sample-button"
    [disabled]="true"
  ></soul-button>

  <soul-button
    text="Light grey"
    [buttonType]="soulButtonType.LightGrey"
    class="grey-button"
  ></soul-button>

  <soul-button
    text="Light grey disabled"
    [buttonType]="soulButtonType.LightGrey"
    class="grey-button"
    [disabled]="true"
  ></soul-button>

  <soul-add-label name="Label with plus"></soul-add-label>
</div>
