@import "/src/common-styles/variables";
@import "/src/common-styles/text";
@import "/src/common-styles/soul-input";
@import "/src/common-styles/soul-layout";

.ui-kit-container {
  margin: 60px;

  display: flex;

  width: 800px;
  height: 800px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;

  .primary-sample-button {
    width: 100px;
  }

  .grey-button {
  }
}

soul-button {
  margin-top: 20px;
}
