.s-modal {
  display: flex;
  flex-direction: column;

  width: 600px;
  height: 614px;

  background: #ffffff;
  border-radius: 12px;
}

.edit-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .cancel-button {
    margin-right: auto;
  }
}
