@import '/src/common-styles/variables';

.title-text {
  font-size: 18px;
  line-height: 130%;
}

.hint-text {
  font-size: 12px;
}

.btn-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

H1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 110%;
}

H2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
}

.link {
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
}

.grey-3-text {
  color: $neutral-grey-3;
}

.grey-4-text {
  color: $neutral-grey-4;
}
