<div class="post-container soul-block-layout">
  <div class="user-info">
    <div class="photo"></div>

    <div>
      <div class="hint-text">Annette Black</div>
      <div class="date-publication grey-3-text">5h</div>
    </div>

    <div class="hint-text grey-3-text">@catlover</div>

    <div class="grey-3-text">
      <span class="material-icons"> more_vert </span>
    </div>
  </div>

  <div class="post-data">
    <div class="description">
      Does smb know any good movie? Like Love actually
    </div>

    <div class="tags">#movie #peace</div>

    <div class="media"></div>
  </div>

  <div class="user-reactions">
    <div class="likes">
      <span class="material-icons"> favorite_border </span>
      <span> 254</span>
    </div>

    <div class="comments">
      <span class="material-icons"> chat_bubble_outline </span>
      <span> 32</span>
    </div>

    <div class="send-post">
      <span class="material-icons"> send </span>
    </div>
  </div>
</div>
