@import "/src/common-styles/variables";
@import "/src/common-styles/text";

.icon-container {
  width: 64px;
  height: 84px;
  background-color: $bg-primary;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  .add-icon {
    height: 20px;
    width: 20px;
    color: $primary;
    cursor: pointer;
  }
}
