@import "/src/common-styles/variables";
@import "/src/common-styles/text";
@import "/src/common-styles/soul-input";
@import "/src/common-styles/soul-layout";

.ui-kit-container {
  margin: 60px;

  display: flex;
  justify-content: space-evenly;

  width: 800px;
  height: 800px;
}

.primary-sample-button {
  width: 100px;
}
