@import "/src/common-styles/variables";
@import "/src/common-styles/text";

.soul-button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  padding: 14px 24px;

  height: 44px;
  border-radius: 12px;
  width: inherit;

  .btn-image {
    margin-right: 10px;
  }
}

.soul-button.primary {
  color: $neutral-white;
  background: $primary;
}

.soul-button.light-grey {
  background: $neutral-grey-0;
  color: $neutral-grey-3;
}

.soul-button:disabled {
  cursor: default;
}

.soul-button.primary:disabled {
  background: $primary-disabled;
}

.soul-button.light-grey:disabled {
  color: $neutral-grey-1;
}

.soul-button.primary:hover {
  background: $primary-hover;
}

.soul-button.light-grey:hover {
  color: $neutral-grey-4;
}

.soul-button.primary:focus {
  background: $primary-pressed;
}

.soul-button.light-grey:focus {
  color: $neutral-grey-1;
  color: $neutral-grey-4;
}
