@import "/src/common-styles/variables";
@import "/src/common-styles/text";

.soul-button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $neutral-white;
  background: $primary;

  cursor: pointer;
  padding: 14px 24px;

  height: 44px;
  border-radius: 12px;
  width: 100%;

  .btn-image {
    margin-right: 10px;
  }
}

.soul-button:disabled {
  background: black;
  cursor: default;
}
