<div class="soul-interest-widget-container">
  <div class="title-text">{{ schema.name }}</div>

  <ng-container *ngFor="let schemaItem of schema.items">
    <soul-add-label [name]="schemaItem.name"></soul-add-label>

    <div class="chips-list" *ngIf="schemaItem.type === itemType.Chips; else imgTextTemplate">
      <div class="chip" *ngFor="let chip of schemaItem.values">{{ chip.name }}</div>
    </div>

    <ng-template #imgTextTemplate>
      <div class="img-text-container">
        <soul-img-text
          *ngFor="let imgText of schemaItem.values"
          [label]="imgText.name"
          [imgUrl]="imgText.imgUrl"
        ></soul-img-text>
      </div>
    </ng-template>
  </ng-container>
</div>

