<div class="input-wrapper">
  <div class="labels">
    <div class="grey-3-text">{{ label }}</div>
    <a [routerLink]="link" class="link" *ngIf="secondLabel">{{
      secondLabel
    }}</a>
  </div>

  <div class="input-with-icon">
    <span
      *ngIf="isPassword"
      (click)="changeIcon()"
      class="material-icons-outlined icon"
    >
      {{ passwordIcon }}
    </span>
    <input
      class="soul-input"
      [type]="inputType"
      [placeholder]="_isPassword ? '********' : placeholder"
      (change)="onTextChange($event.target)"
      autocomplete="off"
    />
  </div>
</div>
