<div class="soul-input-wrapper">
  <div *ngIf="params.label || params.secondLabel" class="labels">
    <div class="grey-3-text">{{ params.label }}</div>
    <a [routerLink]="params.link" class="link" *ngIf="params.secondLabel">{{
      params.secondLabel
    }}</a>
  </div>

  <div class="input-with-icon">
    <span
      *ngIf="inputType === 'password' || passwordIcon === 'visibility'"
      (click)="changeIcon()"
      class="material-icons-outlined icon"
    >
      {{ passwordIcon }}
    </span>

    <span *ngIf="params.icon" class="material-icons-outlined icon">
      {{ params.icon }}
    </span>

    <input
      class="soul-input"
      [type]="inputType"
      [placeholder]="inputType === 'password' ? '********' : params.placeholder"
      (change)="onTextChange($event.target)"
      (keyup.enter)="onEnter($event.target)"
      autocomplete="off"
      [disabled]="isDisabledInput()"
    />
  </div>

  <div *ngIf="params.hint" class="hint hint-text">
    {{ params.hint }}
  </div>
</div>
