//colors
$primary: #4adaaf;
$primary-disabled: #b7f0df;
$primary-hover: #6fe1bf;
$primary-pressed: #3cca9f;

$neutral-white: #ffffff;
$neutral-black: #3a3b45;

$neutral-grey-0: #f8f9fc;
$neutral-grey-1: #dedee6;
$neutral-grey-2: #c2c0cf;
$neutral-grey-3: #a09fa9;
$neutral-grey-4: #6a6b72;

$warn: #e05a5a;
$bg-primary: #f4fffb;

//Windows sizes
$mobileS: 321px;
$mobileM: 376px;
$mobileL: 426px;
$tablet: 767px;
$laptop: 1025px;
$laptopL: 1441px;
$display4K: 2561px;

//fonts
$p-font-size: 10px;
$title-font-size: 12px;
$btn-font-size: 14px;
$h1-font-size: 14px;
$h2-font-size: 14px;
$normal-line-height: 24px;
