@import "/src/common-styles/variables";
@import "/src/common-styles/text";

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  width: 537px;
  height: 554px;

  background: $neutral-white;
  box-shadow: 0px 0px 26px rgba(28, 94, 74, 0.08);
  border-radius: 16px;

  padding: 64px;
}

.description {
  margin-top: 32px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $neutral-grey-3;
}

.interests {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .interest {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 14px 38px;
    margin-top: 16px;
    margin-right: 16px;

    width: 116px;
    height: 48px;

    background: #f8f9fc;
    border-radius: 36px;
    cursor: pointer;
  }
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;

  .skip-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #a09fa9;
    width: 188.5px;
    text-align: center;
    cursor: pointer;
  }

  .confirm-button {
    width: 188.5px;
    height: 44px;
  }
}
