@import "src/common-styles/variables";

.soul-button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: $neutral-white;
  background: $primary;

  height: 44px;
  border-radius: 12px;
  width: 100%;

  .btn-image {
    margin-right: 10px;
  }
}
